@charset "utf-8";

$main-font: roboto, sans-serif;
$secondary-font: 'Playfair Display', serif;
$dark: #333;
$highlight: #563B7F;
$light: #D8D6DA;

// Import partials.
@import
  "components/base",
  "components/buttons",
  "components/layout";

