.clearfix {
  *zoom: 1;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix::after {
  clear: both;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

@media screen and (max-width: 90em) {
  html {
    font-size: 80%;
  }
}

body {
  width: 100%;
  font-family: $main-font;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: $dark;
  font-size: 1em;
}

h1 {
  color: $highlight;
  font-weight: 800;
  font-size: 3.5em;
  font-family: $secondary-font;
}

h2 {
  font-weight: 800;
  font-size: 3em;
  font-family: $secondary-font;
}

h3 {
  color: $dark;
  font-weight: bold;
  font-size: 2em;
  font-weight: 300;
  font-family: $secondary-font;
}

h4 {
  font-weight: 300;
  font-size: 1.4em;
  font-family: $secondary-font;
}

h5 {
  font-weight: 400;
  font-size: 1.2em;
}

h6 {
  font-weight: 400;
  font-size: 1em;
}

li {
  list-style: none;
}

.hidden {
  display: none !important;
}

textarea {
  resize: vertical;
}

p,
p li {
  line-height: 180%;
}

p ul {
  list-style: disc;
}

a {
  color: $dark;
  text-decoration: none;
}
