.page-content {
  width: 100%;
  min-height: 100vh;

  & > section {
    padding: 4em 2em 0;
    max-width: 80rem;
    margin: 0 auto;
  }
}

.section__title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $highlight;
}

.section__title:before,
.section__title:after {
  content: "";
  display: block;
  margin: 1em;
  height: 1px;
  background: $light;
  flex-grow: 1;
}

.about {
  display: grid;
  grid-template-rows: 1fr auto max-content;
  grid-template-columns: minmax(16rem, 42rem) minmax(16rem, 30rem);
  grid-gap: 1em 3em;
}

@media screen and (min-width: 1200px) {
  .page-content > section {
      max-width: 1150px;
    }
}

.about__content {
  grid-area: 3 / 1 / 4 / 2;
}

.about__picture {
  grid-area: 2 / 2 / 4 / 3;
  display: flex;
  align-items: flex-end;
  position: relative;

  & img {
    width: 100%;
    display: block;
  }
}

.about__picture:before {
  content: "";
  width: 10rem;
  height: 10rem;
  background: #fff;
  display:block;
  position: absolute;
  top: -5rem;
  left: -5rem;
  transform: rotate(45deg);
}

.about__picture:after {
  content: "";
  width: 10rem;
  height: 10rem;
  background: #fff;
  display:block;
  position: absolute;
  bottom: -5rem;
  right: -5rem;
  transform: rotate(45deg);
}

@media screen and (max-width: 60em) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__picture {
    width: 23rem;
    height: 30rem;
    overflow: hidden;
    align-items: flex-start;
  }
}

.about__title {
  margin-top: 1em;
}

.about__subtitle {
  color: $highlight;
}

.about__bio {
  margin-top: 2em;

  & p {
    margin: 1em auto;
  }
}

/* Ícones redes sociais */
.social__list {
  display: flex;
  margin: 2em 0;

  & li {
    margin-right: 10px;
  }
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-top;
  fill: $highlight;
}

/*********************
SKILLS
*********************/

.skills {
  grid-row-start: 2;
  z-index: 2;
}

.skills__list {
  display: flex;
  align-items: center;
  justify-content: center;

  & li {
    text-align: center;
    margin: 4rem 5rem;
  }
}

.tools {
  display: flex;
  justify-content: center;
  border-top: 1px solid #fff;
  padding: 2rem;

  & li {
    margin: 1rem;
  }
}

@media screen and (max-width: 60em) {
  .skills__list {
    flex-direction: column;
  }

  .tools {
    flex-wrap: wrap;
  }
}

.tools__item {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.tools__item--sketch {
  background-image: url("./../../assets/icons/sketch.png");
}

.tools__item--invision {
  background-image: url("./../../assets/icons/invision.png");
}

.tools__item--zeplin {
  background-image: url("./../../assets/icons/zeplin.png");
}

.tools__item--psd {
  background-image: url("./../../assets/icons/ps.png");
}

.tools__item--ai {
  background-image: url("./../../assets/icons/ai.png");
}


.tools__item--xd {
  background-image: url("./../../assets/icons/xd.png");
}

.tools__item--indd {
  background-image: url("./../../assets/icons/id.png");
}


/*********************
PORTFOLIO
*********************/

.portfolio__list__item {
  display: flex;
  margin: 5em 0;
  align-items: center;
  justify-content: center;
}

.portfolio__list__item:nth-child(even) {
  flex-direction: row-reverse;
}

.portfolio__description {
  flex-basis: 60%;
  max-width: 32rem;

  & p {
    margin: 0.5em 0;
  }

  & h5 {
    margin-top: 1em;
  }

  & ul {
    margin: 0.5em 1em;
  }

  & li {
    line-height: 180%;
    list-style: disc;
  }
}

.portfolio__image {
  max-width: 28rem;
  transition: transform 0.3s;

  & img {
    width: 100%;
  }
}

// .portfolio__image:hover {
//   transform: scale(1.1);
// }

.portfolio__list__item .btn {
  margin: 1rem 0;
}


@media screen and (max-width: 60em) {
  .portfolio__list__item,
  .portfolio__list__item:nth-child(even) {
    flex-direction: column-reverse;
  }

  .portfolio__description {
    flex-basis: auto;
  }
}

/*********************
OUTROS TRABALHOS
*********************/

.another__works {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 3em;
  margin: 0 0 5rem;
}

.another__works li {
  background: #eee;
  border: 1px solid #eee;
}

.another__works img {
  width: 100%;
}

.portfolio__item__grid {
  display: grid;
  align-items: end;
}

.portfolio__item__grid img,
.portfolio__item__grid legend {
  grid-area: 1 / 1 / 2 / 2;
}

.portfolio__item__grid legend {
  transform: scaleY(0);
  transform-origin: center bottom;
  background: rgba(255, 255, 255, 0.9);
  padding: 1em;
  line-height: 150%;
  transition: transform 0.3s;
}

.portfolio__item__grid:hover legend {
  transform: scaleY(1);
}
