---
layout: default
---

<section class="about">
  <figure class="about__picture">
    <img src="{{ "/assets/profile.jpg " | relative_url }}" title="Heloisa Munaretto" alt="Foto de perfil" />
  </figure>
  <div class="about__content">
    <h1 class="about__title">Heloisa Munaretto</h1>
    <h2 class="about__subtitle">UX/UI Designer</h2>
    <article class="about__bio">
      <p>
        Designer atuando na área de UX/UI há 6 anos. Tenho sólida experiência na criação de protótipos de interface de alta-fidelidade
        e implementação em HTML/CSS. Além disso, tenho forte background na área de design gráfico com conhecimento na área
        de layout, cores, tipografia e usabilidade.
      </p>
      <p>
        Estou habituada a trabalhar e me comunicar diretamente com desenvolvedores e Product Owners e procuro me manter informada
        das tendências, padrões e ferramentas da área de UX/UI.
      </p>
      <p>
        Áreas de conhecimento: UX/UI Design, HTML/CSS, GIT, Metodologias Ágeis.
      </p>
      {% include social.html %}
    </article>
  </div>
</section>

<section class="skills">
  <h2>Skills</h2>
  <ul class="skills__list">
    <li>CSS</li>
    <li>HTML</li>
    <li>SASS</li>
    <li>GIT</li>
    <li>UX Design</li>
    <li>UI Design</li>
    <li>Sketch</li>
    <li>InVision</li>
    <li>Adobe XD</li>
    <li>Adobe Illustrator</li>
    <li>Adobe Photoshop</li>
    <li>Adobe InDesign</li>
  </ul>
</section>
