---
layout: default
---

<section class="about">
  <figure class="about__picture">
    <img src="{{ "/assets/profile2.jpg" | relative_url }}" title="Heloisa Munaretto" alt="Foto de perfil" />
  </figure>
  <div class="about__content">
    <h1 class="about__title">Heloisa Munaretto</h1>
    <h2 class="about__subtitle">UX/UI Designer</h2>
    <article class="about__bio">
      <p>
        Graphic designer working with UI development about 6 years. I have solid experience creating wireframes,
         high fidelity mockups and implementing HTML/CSS. Besides that I have strong visual design skills,
          including layout, color theory, typography, usability and recently I've started working with design systems,
           seeking to stay informed of the latest UI/UX techniques, tools, and patterns.
      </p>
      <p>
        I'm used to work in multiple projects, acting in all steps of product development, from initial
         concept to implementation, work cooperatively to solve problems, communicate and
         collaborate effectively with developers and product owners
      </p>
      <p>
        Specialties: UX Design. UI development using HTML5, CSS3, GIT. Software knowledge includes Sketch basics, Figma,
        InVision and Adobe Creative Suite (Illustrator, Photoshop, InDesign, XD).
      </p>
      {% include social.html %}
    </article>
    <!-- <a href="#" class="btn" target="blank">Download Resume</a> -->
  </div>
</section>

<section class="skills">
  <h2 class="section__title">Skills</h2>
  <ul class="skills__list">
    <li>
      <h3>UI/UX Design</h3>
      <p>
        Experience with visual design, wireframes and high fidelity prototypes creation focused on usability and
         user experience.
        Knowledge in responsive design, atomic design and design systems.
      </p>
    </li>
    <li>
      <h3>Front-end</h3>
      <p>
        Experience developing interfaces with HTML5, CSS, SASS, using GIT and
        GIT LFS.
        Basic knowlege in JavaScript, JQuery and creating React components.
      </p>
    </li>
  </ul>
  <ul class="tools">
    <li class="tools__item tools__item--sketch">Sketch</li>
    <li class="tools__item tools__item--zeplin">Zeplin</li>
    <li class="tools__item tools__item--invision">InVision</li>
    <li class="tools__item tools__item--xd">Adobe XD</li>
    <li class="tools__item tools__item--ai">Adobe Illustrator</li>
    <li class="tools__item tools__item--psd">Adobe Photoshop</li>
    <li class="tools__item tools__item--indd">Adobe InDesign</li>
  </ul>
</section>

<section class="portfolio">
  <h2 class="section__title">Portfolio</h2>
  <ul class="portfolio__list">
    <li class="portfolio__list__item">
      <article class="portfolio__description">
        <h3>Rainmap</h3>
        <p>
          RainMap is an online platform that simulates a rainwater harvesting system in buildings.
        </p>
        <p>
          This project is composed by a landing page and a B2C plataform to simulate rainwater harvesting scenarios.</p>
        <h5>Main responsabilities:</h5>
        <ul>
          <li>Visual identity</li>
          <li>Website layout using wordpress</li>
          <li>Interface design and user experience</li>
          <li>Mockups, concepts and HTML/CSS implementation of B2C platform (developing)</li>
        </ul>
        <a href="https://www.rainmap.com.br" class="btn" target="blank">Visit website</a>
      </article>
      <figure class="portfolio__image">
        <img srcset="{{ "/assets/rainmap.png" | relative_url }}" title="Rainmap" width="600px" alt="Mockups showing the main screens of the project" />
      </figure>
    </li>
    <li class="portfolio__list__item">
      <article class="portfolio__description">
        <h3>Manifestação Pública</h3>
        <p>
          Project developed in partnership between LabTrans/UFSC and the National Secretariat of Ports that aims to enable public consultations
           so that the port community and citizens in general can contribute to the elaboration of SNP/MTPA Master Plans.
        </p>
        <h5>Main responsabilities:</h5>
        <ul>
          <li>Visual identity</li>
          <li>Create a design system using atomic design concepts</li>
          <li>Interface design and user experience</li>
          <li>HTML/CSS/SASS implementation</li>
        </ul>
         <a href="https://manifestacao-snp.labtrans.ufsc.br" class="btn" target="blank">Visit project</a>
      </article>
      <figure class="portfolio__image">
        <img srcset="{{ "/assets/manifestacao.png" | relative_url }}" title="Sistema de Manifestação Pública" width="600px" alt="Mockups showing the main screens of the project" />
      </figure>
    </li>
    <li class="portfolio__list__item">
      <article class="portfolio__description">
        <h3>Hórus</h3>
        <p>
          Projeto desenvolvido em parceria com a Secretaria de Aviação Civil, enquanto designer no LabTrans, para exibição e administração
          de dados e informações de aeródromos sob responsabilidade da SAC.
        </p>
        <p>
          O projeto é composto por 7 sistemas web que desempenham diferentes papéis, entre eles uma plataforma online com informações sobre
          os aeroportos do Brasil.
        </p>
        <h5>Main responsabilities:</h5>
        <ul>
          <li>Visual identity</li>
          <li>Interface design and user experience</li>
          <li>HTML/CSS implementation</li>
        </ul>
        <a href="https://horus.labtrans.ufsc.br" class="btn" target="blank">Visit project</a>
      </article>
      <figure class="portfolio__image">
        <img srcset="{{ "/assets/horus.png" | relative_url }}" title="Horus" width="600px" alt="Mockups showing the main screens of the project" />
      </figure>
    </li>
  </ul>
</section>
<section>
  <ul class="another__works">
    <li>
      <figure class="portfolio__item__grid">
        <img srcset="{{ "/assets/coperverde.png" | relative_url }}" title="Visual identity Coperverde" width="600px" alt=""
        />
        <legend>Visual Identity System developed for Coperverde</legend>
      </figure>
    </li>
    <li>
      <figure class="portfolio__item__grid">
        <img srcset="{{ "/assets/gustavo.png" | relative_url }}" title="Visual identity Dr. Gustavo Cherobin" width="600px" alt=""
        />
        <legend>Logo and business card designed for Dr. Gustavo Cherobin</legend>
      </figure>
    </li>
    <li>
      <figure class="portfolio__item__grid">
        <img srcset="{{ "/assets/fraiburgo.png" | relative_url }}" title="Fraiburgo's 50th anniversary logo" width="600px"
        />
        <legend>Winner logo of the brand selection contest in commemoration of Fraiburgo's 50th anniversary</legend>
      </figure>
    </li>
  </ul>
</section>
