---
layout: default
---

<section class="about">
  <figure class="about__picture">
    <img src="{{ "/assets/profile.jpg" | relative_url }}" title="Heloisa Munaretto" alt="Foto de perfil" />
  </figure>
  <div class="about__content">
    <h1 class="about__title">Heloisa Munaretto</h1>
    <h2 class="about__subtitle">UX/UI Designer</h2>
    <article class="about__bio">
      <p>
        Designer atuando na área de UX/UI há 6 anos. Tenho sólida experiência na criação de protótipos de interface de alta-fidelidade
        e implementação em HTML/CSS. Além disso, tenho forte background na área de design gráfico com conhecimento na área
        de layout, cores, tipografia e usabilidade.
      </p>
      <p>
        Estou habituada a trabalhar e me comunicar diretamente com desenvolvedores e Product Owners e procuro me manter informada
        das tendências, padrões e ferramentas da área de UX/UI.
      </p>
      <p>
        Áreas de conhecimento: UX/UI Design, HTML/CSS, GIT, Metodologias Ágeis.
      </p>
      {% include social.html %}
    </article>
  </div>
</section>

<section class="skills">
  <h2>Skills</h2>
  <ul class="skills__list">
    <li>CSS</li>
    <li>HTML</li>
    <li>SASS</li>
    <li>GIT</li>
    <li>UX Design</li>
    <li>UI Design</li>
    <li>Sketch</li>
    <li>InVision</li>
    <li>Adobe XD</li>
    <li>Adobe Illustrator</li>
    <li>Adobe Photoshop</li>
    <li>Adobe InDesign</li>
  </ul>
</section>

<section class="portfolio">
  <h2>Portfolio</h2>
  <ul class="portfolio__list">
    <li class="portfolio__list__item">
      <article>
        <h3>Rainmap</h3>
        <p>
          O RainMap é uma plataforma que simula um sistema de aproveitamento de água da chuva em edificações.
        </p>
        <p>
          O projeto é composto por um site e uma plataforma B2C para simulação de cenários de aproveitamento
          da água da chuva.</p>
        <h5>Principais responsabilidades:</h5>
        <ul>
          <li>Desenvolvimento de identidade visual</li>
          <li>Criação de tema para site em wordpress</li>
          <li>Layout e implementação de versão Free do Simulador</li>
          <li>Layout e implementação (HTML/CSS) de plataforma B2C de simulação PRO (em desenvolvimento)</li>
        </ul>
        <a href="https://www.rainmap.com.br" class="btn" target="blank">Acessar</a>
      </article>
      <figure>
        <img />
      </figure>
    </li>
    <li class="portfolio__list__item">
      <article>
        <h3>Manifestação Pública</h3>
        <p>
          Projeto desenvolvido em parceria entre LabTrans/UFSC e Secretaria Nacional de Portos que tem como objetivo possibilitar a
          realização de consultas públicas para que comunidade portuária e os cidadãos em geral possam contribuir com a elaboração
          dos Planos Mestres desenvolvidos pela SNP/MTPA.
        </p>
        <h5>Principais responsabilidades:</h5>
        <ul>
          <li>Desenvolvimento de Identidade visual</li>
          <li>Desenvovimento de <em>Design System</em> utilizando os conceitos de atomic design</li>
          <li>Criação de interface gráfica</li>
          <li>Implementação em HTML/CSS</li>
        </ul>
      </article>
      <figure>
        <img />
      </figure>
    </li>
    <li class="portfolio__list__item">
      <article>
        <h3>Hórus</h3>
        <p>
          Projeto desenvolvido em parceria com a Secretaria de Aviação Civil, enquanto designer no LabTrans, para exibição e administração
          de dados e informações de aeródromos sob responsabilidade da SAC.
        </p>
        <p>
          O projeto é composto por 7 sistemas que desempenham diferentes papéis, entre eles uma plataforma online com informações sobre
          os aeroportos do Brasil.
        </p>
        <h5>Principais responsabilidades:</h5>
        <ul>
          <li>Desenvolvimento de Identidade visual</li>
          <li>Desenvolvimento de interface gráfica</li>
          <li>Implementação em HTML/CSS</li>
        </ul>
        <a href="https://horus.labtrans.ufsc.br" class="btn" target="blank">Acessar</a>
      </article>
      <figure>
        <img />
      </figure>
    </li>
  </ul>
</section>
